h1 {
  color: rgb(0, 0, 0);
  padding: 20px;
}

body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}

.container {
  margin-top: 10%;
  width: 50%;
  box-shadow: 3px 4px 80px rgb(71, 0, 71);
  border-radius: 15px 60px;
  opacity: 0.9;
}

label {
  font-weight: bold !important;
  width: 35% !important;
}

.result {
  margin: 0 auto;
}

.btn {
  width: 100%;
  padding: 10px 15px;
}



@media (max-width: 992px) {
  .container {
    width: 90%;
  }

  h2 {
    padding: 10px;
  }

  .form-group {
    padding-top: 0 !important;
  }
}
